body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

header {
    background-image: url(../img/zenith-bg.png);
    background-size: cover;
    background-position: center;
    min-height: 25vh;
    text-align: center;
    margin-bottom: 5vh;
}

p {
    font-size: 2.3vh;
}

header h1, 
header p {
    color: white;
    margin: 0;
}

header h1 {
    font-size: 12vh;
    font-family: Times, serif;
    font-weight: normal;
}


section {
    padding: 1vh 18vw 1vh 18vw;
}

h2 {
    color: #444444;
    font-size: 3vh;
    border-bottom: 0.3vh solid #d2d2d2;
    padding-bottom: 1vh;
}

ul{
    list-style-type: none;
    padding: 0;
}

.horizontal-list {
    display: flex;
}

.horizontal-list li {
    flex: 1;
    text-align: center;
}

.horizontal-list img {
    height: 8vw;
}

.vertical-list p {
    border-left: 2vw solid;
    padding-left: 2vw;
    color: #8f8f8c;
    border-color: #847462;
}

.vertical-list-first-item p {
    color: #9b9999;
    border-color: #e2e2e2;
}

.vertical-list-last-item p {
    color: black;
    border-color: #ffb864;
}

footer {
    display: flex;
    background-color: #847462;
    color: white;
    padding: 3vh 0 3vh 0;
    margin-top: auto;
    justify-content: center;
}

footer p {
    margin: 0 5vw 0 5vw;
}